@font-face {
  font-family: "Whyte Inktrap";
  src: url("WhyteInktrap-Thin.eot");
  src: local("Whyte Inktrap Thin"), local("WhyteInktrap-Thin"),
    url("WhyteInktrap-Thin.eot?#iefix") format("embedded-opentype"),
    url("WhyteInktrap-Thin.woff2") format("woff2"),
    url("WhyteInktrap-Thin.woff") format("woff"),
    url("WhyteInktrap-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Whyte Inktrap";
  src: url("WhyteInktrap-Thin_1.eot");
  src: local("Whyte Inktrap Thin"), local("WhyteInktrap-Thin"),
    url("WhyteInktrap-Thin_1.eot?#iefix") format("embedded-opentype"),
    url("WhyteInktrap-Thin_1.woff2") format("woff2"),
    url("WhyteInktrap-Thin_1.woff") format("woff"),
    url("WhyteInktrap-Thin_1.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Whyte Inktrap";
  src: url("WhyteInktrap-Italic.eot");
  src: local("Whyte Inktrap Italic"), local("WhyteInktrap-Italic"),
    url("WhyteInktrap-Italic.eot?#iefix") format("embedded-opentype"),
    url("WhyteInktrap-Italic.woff2") format("woff2"),
    url("WhyteInktrap-Italic.woff") format("woff"),
    url("WhyteInktrap-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Whyte Inktrap";
  src: url("WhyteInktrap-ThinItalic.eot");
  src: local("Whyte Inktrap Thin Italic"), local("WhyteInktrap-ThinItalic"),
    url("WhyteInktrap-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("WhyteInktrap-ThinItalic.woff2") format("woff2"),
    url("WhyteInktrap-ThinItalic.woff") format("woff"),
    url("WhyteInktrap-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Whyte Inktrap";
  src: url("WhyteInktrap-Light.eot");
  src: local("Whyte Inktrap Light"), local("WhyteInktrap-Light"),
    url("WhyteInktrap-Light.eot?#iefix") format("embedded-opentype"),
    url("WhyteInktrap-Light.woff2") format("woff2"),
    url("WhyteInktrap-Light.woff") format("woff"),
    url("WhyteInktrap-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Whyte Inktrap";
  src: url("WhyteInktrap-LightItalic.eot");
  src: local("Whyte Inktrap Light Italic"), local("WhyteInktrap-LightItalic"),
    url("WhyteInktrap-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("WhyteInktrap-LightItalic.woff2") format("woff2"),
    url("WhyteInktrap-LightItalic.woff") format("woff"),
    url("WhyteInktrap-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Whyte Inktrap";
  src: url("WhyteInktrap-Regular.eot");
  src: local("Whyte Inktrap Regular"), local("WhyteInktrap-Regular"),
    url("WhyteInktrap-Regular.eot?#iefix") format("embedded-opentype"),
    url("WhyteInktrap-Regular.woff2") format("woff2"),
    url("WhyteInktrap-Regular.woff") format("woff"),
    url("WhyteInktrap-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

main.ab {
  height: 90vh;
  overflow-y: hidden;
}

.profile {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bio {
  font: 14px "WhyteInktrap-Light", sans-serif;
  line-height: 18px;
  color: #272727;
  margin-inline-start: 20px;
}

.profile-text {
  position: relative;
  z-index: 1;
  max-width: 30vw;
  backdrop-filter: blur(2px);
  padding: 2vw;
  border-radius: 20px;
  background: #fbfbfbc0;
  /* -webkit-filter: drop-shadow(10px 10px 10px rgba(156, 155, 154, 0.486));
    filter: drop-shadow(10px 10px 10px rgba(156, 155, 154, 0.486)); */
}

.bee {
  max-width: 350px;
  display: block;
  margin: 20px;
  align-self: center;
}

.cloud1,
.cloud2,
.blob,
.blob2 {
  position: absolute;
}

.cloud1 {
  width: 180px;
  top: 30vh;
  left: 16vw;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.486));
  filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.486));
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.6s ease-in-out;
}

.blob {
  top: -6vh;
  right: 20vw;
  width: 23vw;
  z-index: 3;
  stroke-dasharray: 2000;
  stroke-dashoffset: -2000;
  animation: dash1 5s ease-in forwards;
}

.blob2 {
  bottom: 8vh;
  left: 30vw;
  width: 23vw;
  z-index: 0;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash1 5s ease-in forwards;
  animation-delay: 0.5s;
}

.cloud1:hover {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  position: absolute;
}

@keyframes dash1 {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash2 {
  to {
    stroke-dashoffset: 0;
  }
}

h3 {
  padding-top: 20px;
  font: 1.6vw "WhyteInktrap-Regular", sans-serif;
  font-weight: 100;
  line-height: 36px;
  color: #272727;
  margin-block-start: 0;
  margin-block-end: 0;
  position: relative;
  z-index: 5;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 3s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.ab .footer {
  position: absolute;
  bottom: 40px;
}
.footer {
  width: 95vw;
  display: flex;
  flex-direction: row;
  margin: -20px;
  padding: 0px;
  justify-content: flex-end;
  font: 11px "WhyteInktrap-Light", sans-serif;
  line-height: 12px;
}
.mini-proj img {
  position: relative;
  width: 225px;
  transition: all 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.mini-proj img:hover {
  transform: scale(1.05, 1.05);
}

.mini-proj-left {
  margin-right: 20px;
}

.mini-proj-right {
  margin-inline-start: 20px;
  font: 12px "WhyteInktrap-Light", sans-serif;
  line-height: 18px;
  width: 385px;
}

.mini-proj-tags {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.mini-proj-tag,
.mini-main-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  padding-bottom: 2px;
  text-align: center;
  margin: 5px;
  backdrop-filter: blur(3px);
}

.mini-proj-tag {
  background: #fbfbfb9a;
  border: solid 1px #272727;
}

.mini-main-tag {
  color: white;
}

.mini-proj {
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 650px;
}

.mini-proj-header {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 6px;
}

.mini-proj-client {
  font-size: 14px;
  line-height: 20px;
}

.mini-proj-link {
  color: #111111;
}
