main.ab {
  height: 90vh;
  overflow-y: hidden;
}

.profile {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bio {
  font-size: 17px;
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  line-height: 18px;
  color: #272727;
  margin-inline-start: 20px;
}

.profile-text {
  position: relative;
  z-index: 1;
  max-width: 30vw;
  backdrop-filter: blur(2px);
  padding: 2vw;
  border-radius: 20px;
  background: #fbfbfbc0;
}

.bee {
  max-width: 350px;
  display: block;
  margin: 20px;
  align-self: center;
}

.cloud1,
.cloud2,
.blob,
.blob2 {
  position: absolute;
}

.cloud1 {
  width: 180px;
  top: 30vh;
  left: 16vw;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.486));
  filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.486));
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.6s ease-in-out;
}

.blob {
  top: -6vh;
  right: 20vw;
  width: 23vw;
  z-index: 3;
  stroke-dasharray: 2000;
  stroke-dashoffset: -2000;
  animation: dash1 5s ease-in forwards;
}

.blob2 {
  bottom: 8vh;
  left: 30vw;
  width: 23vw;
  z-index: 0;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash1 5s ease-in forwards;
  animation-delay: 0.5s;
}

.cloud1:hover {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  position: absolute;
}

h3 {
  padding-top: 20px;
  font-size: 1.6vw;
  font-family: 'whyte';
  font-weight: 100;
  line-height: 36px;
  color: #272727;
  margin-block-start: 0;
  margin-block-end: 0;
  position: relative;
  z-index: 5;
}

.ab .footer {
  position: absolute;
  bottom: 40px;
}

@media screen and (max-width: 1000px) /* mobile */ {
  main.ab {
    height: fit-content;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .profile {
    height: fit-content;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .bio {
    font-size: 17px;
    font-family: halyard-display, sans-serif;
    font-weight: 300;
    color: #272727;
    margin-inline-start: 0px;
  }

  .profile-text {
    position: relative;
    z-index: 1;
    max-width: 80vw;
    backdrop-filter: blur(2px);
    padding: 2vw;
    border-radius: 20px;
    background: #fbfbfbc0;
  }

  .bee {
    width: 60vw;
    max-width: 800px;
    /* display: block; */
    margin: 40px;
    align-self: center;
    z-index: -2;
  }

  .cloud1 {
    max-width: 40vw;
    top: 12vh;
    left: -3vw;
  }

  .blob {
    top: 200px;
    right: -30vw;
    width: 400px;
    z-index: 0;
    stroke-dasharray: 2000;
    stroke-dashoffset: -2000;
    animation: dash1 5s ease-in forwards;
  }

  .blob2 {
    bottom: 100px;
    left: -10vw;
    width: 400px;
    z-index: 0;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash1 5s ease-in forwards;
    animation-delay: 0.5s;
  }

  h3 {
    padding-top: 20px;
    font-size: 20px;

    line-height: 28px;
    color: #272727;
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
    z-index: 5;
  }

  .ab .footer {
    position: inherit;
    bottom: inherit;
  }
}

/* Animations */

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 3s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes dash1 {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash2 {
  to {
    stroke-dashoffset: 0;
  }
}
