@import url('../index.css');
@import url('https://use.typekit.net/txw5htw.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital@1&display=swap');

/* .textLoop {
  transition: none;
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: ease;
  transition-delay: 0s;
  scroll-behavior: inherit;
  -webkit-animation: fadein 0s;
  -moz-animation: fadein 0s;
  -ms-animation: fadein 0s;
  -o-animation: fadein 0s;
  animation: fadein 0s;
}
 */
html main:not(.textLoop) {
  transition: 0.5s ease;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  scroll-behavior: inherit;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

::selection {
  background: #c7cdff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #c7cdff; /* WebKit/Blink Browsers */ /* Gecko Browsers */
}

body {
  background-color: #fbfbfb;
  overflow-x: hidden;
}
main {
  padding: 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #111111;
}

h1 {
  font-family: 'whyte';
  font-size: 6.5vh;
  font-weight: normal;
  line-height: 7.5vh;
  color: #111111;
  margin: 10px;
}

h2 {
  font-family: 'whyte';
  font-weight: normal;
  font-size: 5.5vh;
  line-height: 6.5vh;
  color: #272727;
  margin-block-start: 0;
  margin-block-end: 0;
}

b {
  text-transform: none;
  text-decoration: none;
  font-family: 'whyte';
  font-weight: normal;
}

a:-webkit-any-link {
  color: #111111;
}

.filling {
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  border-radius: 20px;
}

.lettuce {
  font-size: 18px;
  font-family: 'Lekton', sans-serif;
  font-style: italic;
  /* font-family: 'whyte-light'; */
  font-weight: 100;
  line-height: 25px;
  color: #272727;
  margin-inline-start: 12px;
}

.pickles {
  font-family: 'Lekton', sans-serif;
  font-size: 1em;
  overflow: scroll;
  line-height: 1.5em;
  color: #272727;
  margin-inline-start: 0px;
}

.pickles li {
  list-style-type: none;
}

.meat {
  position: relative;
  z-index: 1;
  max-width: 45vw;
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  background: #fbfbfb7a;
}

.bread-buffer1 {
  position: absolute;
  top: -30px;
  left: -100px;
  width: 450px;
}

.bread-slice1 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 450px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
}

.bread-buffer1:hover .bread-slice1 {
  -webkit-transform: rotate(-16deg);
  transform: rotate(-16deg);
  position: relative;
  z-index: -1;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
}

.bread-slice2 {
  position: relative;
  bottom: 0px;
  right: 0px;
  width: 450px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
}

.bread-buffer2 {
  position: absolute;
  bottom: -60px;
  right: -80px;
  width: 450px;
}

.bread-buffer2:hover .bread-slice2 {
  -webkit-transform: rotate(16deg);
  transform: rotate(16deg);
  position: relative;
  z-index: -1;
}

.doing-stuff {
  font-family: 'whyte';
  font-size: 16px;
}

.stuff {
  margin-inline-start: 20px;
  font-size: 16px;
  font-family: 'whyte-light';
}

.portfolio-link a {
  color: #111111;
}

.artist {
  font-size: 16px;
  font-family: 'whyte-thin';
}
.song {
  font-size: 16px;
  font-family: 'whyte-it';
}

.stuff a {
  text-decoration: none;
  text-decoration: underline;
  color: #111111;
}

/* section two */

.content-two {
  height: fit-content;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.all-minis {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.tech-minis {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.art-mini {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 10px;
}

.art-container {
  position: relative;
  width: 350px;
  height: 450px;
}

.art-container img {
  overflow: hidden;
  width: 350px;
  height: 450px;
  position: absolute;
  display: block;
  object-fit: cover;
  -webkit-animation-name: img-fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-name: img-fade;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}

.art-container:hover {
  transform: scale(1.05, 1.05);
}

.subheader {
  font-size: 32px;
  font-family: 'whyte';
  font-weight: 100;
  line-height: 38px;
  text-align: start;
  margin: 10px;
}

.subheader-cont {
  max-width: 45vw;
  padding: 80px;
  margin: 40px;
  position: relative;
}

.art-02 {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}
.art-03 {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

.art-descrip {
  font-family: 'whyte-light';
  font-size: 14px;
  line-height: 20px;
  width: 425px;
  padding: 40px;
}

.tech-blob {
  position: relative;
  top: 420px;
  left: -520px;
  width: 850px;
  position: absolute;
  z-index: -10;
  stroke-dasharray: 2000;
  stroke-dashoffset: -2000;
  animation: dash1 5s ease-in forwards;
  color: #aeabff;
  color: #736ef3;
}

.bottom-blob {
  overflow: hidden;
  position: relative;
  bottom: -100px;
  right: -700px;
  width: 850px;
  position: absolute;
  z-index: -10;
  stroke-dasharray: 2000;
  stroke-dashoffset: -2000;
  animation: dash1 7s ease-in forwards;
  color: #aeabff;
  color: #457a8f;
}

.proj-list {
  position: relative;
}

/* for tablets? */

@media screen and (max-width: 1230px) and (-webkit-min-device-pixel-ratio: 1) {
  .all-minis {
    display: flex;
    flex-direction: column;
  }
}

/* Mobile version */
@media screen and (max-width: 1024px) /* mobile */ {
  main {
    position: relative;
    overflow: hidden;
  }

  h2 {
    font-family: 'whyte';
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #272727;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .filling {
    margin-top: 15vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 20px;
    max-width: 95vw;
    margin-bottom: 10vh;
  }

  .meat {
    display: flex;
    flex-direction: column;
    padding: 0px;
    max-width: 90vw;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lettuce {
    font-size: 16px;
    font-weight: 100;
    line-height: 18px;
    margin-inline-start: 0px;
  }

  .pickles {
    display: inline-block;
    height: fit-content;
    color: #272727;
    overflow: auto;
    margin-inline-start: 0px;
  }

  .bread-slice1 {
    top: -40px;
    width: 400px;
    overflow: hidden;
    display: none;
  }

  .bread-slice2 {
    width: 300px;
    bottom: 75px;
    z-index: -3;
  }

  .bread-slice2:hover {
    z-index: -3;
  }

  .doing-stuff {
    font-size: 14px;
    font-family: 'whyte';
  }

  .stuff {
    font-size: 14px;
    display: inline-block;
    max-width: 65vw;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
  }

  .artist {
    font-size: 14px;
  }
  .song {
    font-size: 14px;
  }

  .content-two {
    height: fit-content;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95vw;
  }

  .all-minis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .tech-minis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    margin: 10px;
  }
  .art-mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 300px;
    margin: 10px;
  }

  .art-container {
    position: relative;
    width: 250px;
    height: 325px;
  }

  .art-container img {
    overflow: hidden;
    width: 250px;
    height: 325px;
    position: absolute;
    display: block;
    object-fit: cover;
    -webkit-animation-name: img-fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    animation-name: img-fade;
    animation-iteration-count: infinite;
    animation-duration: 12s;
  }

  .art-descrip {
    max-width: 80vw;
    padding: 40px;
  }
  .subheader-cont {
    max-width: 85vw;
    padding: 0;
    position: relative;
  }

  .subheader {
    font-size: 32px;
    font-family: 'whyte';
    font-weight: 100;
    line-height: 38px;
    max-width: 85vw;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-family: 'whyte';
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 10px;
  }
  /* .pickles {
    display: none;
  } */

  .tech-blob,
  .bottom-blob {
    display: none;
  }
}

/* Mobile version */
@media screen and (max-width: 320px) /* mobile */ {
  h1 {
    font-family: 'whyte';
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin: 10px;
  }
  .filling {
    margin-top: 20vh;

    margin-bottom: 10vh;
  }

  .subheader {
    font-family: 'whyte';
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
  }
}

/* Animations */
@-webkit-keyframes img-fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
