ul {
  list-style: none;
}

ul li,
ol li {
  padding: 5px 0px;
}

.desproj b {
  font-family: halyard, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
ul li::before {
  content: '•';
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul li ul li::before {
  content: '◦';
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.desproj img {
  width: 100%;
}

a:visited {
  color: #131313;
}

a.desproj-button {
  border-radius: 100px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 300px;
  padding: 20px;
  font-family: halyard, sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}

.desproj {
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
}

.desproj-container {
  overflow: visible;
  /* padding: 5vw; */
  /* padding-top: 10vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 40vw;
}

.desproj-coverimage {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 60vh;
  width: 60vw;
}

.desproj-coverimage img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
.desproj-content {
  margin-bottom: 60px;
  width: 40vw;
}

.desproj-2col {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desproj-2col2 {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desproj-2col img,
.desproj-2col2 img {
  padding: 10px;
}

.desproj-gallery img {
  padding: 10px;
  height: auto;
  width: auto;
  align-self: center;
}

.desproj-gallery {
  max-width: 80vw;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.desproj-galleryrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.desproj-gallerycol {
  flex: 48%;
  max-width: 48%;
  padding: 0.5%;
}

.desproj-gallerycol img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 580px) {
  .desproj-gallerycol {
    flex: 100%;
    max-width: 100%;
  }
}

.desproj-titlebox {
  flex-direction: column;
  display: flex;
  font-size: 18px;
  line-height: 20px;
  border-bottom: rgb(219, 75, 56) solid 1px;
  margin-bottom: 20px;
}

h5 {
  /*title*/
  font-family: 'whyte-med';
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  /*  padding: 20px;
  margin: 20px; */
}

.desproj-tagline {
  /*title*/
  font-family: 'Lekton', sans-serif;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  padding: 5px;
  margin: 20px;
}

.desproj-tagline b {
  font-family: 'Lekton';
  font-style: bold;
  font-size: 24px;
}

.desproj-header {
  /*title*/
  font-family: 'whyte-med';
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 20px;
}

.desproj-subheader {
  /*title*/
  font-family: 'whyte-med';
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 20px;
  margin-top: 40px;
}

.desproj-subheader2 {
  /*title*/
  font-family: 'whyte-med';
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin: 20px;
  margin-top: 40px;
}

.desproj-headertag {
  /*title*/
  font-family: 'Lekton';
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  margin-left: 2vw;
}

.desproj-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  align-self: center;
}
.desproj-details {
  flex-direction: column;
  padding: 20px;
  width: 40vw;
}

h6 {
  font-family: halyard-display, sans-serif;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  margin: 0;
}

.desproj-emph {
  font-size: 22px;
  line-height: 26px;
}

.desproj-emph b {
  font-size: 21px;
  line-height: 40px;
  font-weight: 600;
}

.desproj .footer b {
  font-size: 12px;
  font-family: halyard, sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 1000px) /* mobile */ {
  .desproj-galleryrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .desproj-container .desproj-gallerycol {
    flex: 49%;
    max-width: 49vw;
    padding: 0 0.2vw;
  }

  .desproj-container .desproj-gallerycol img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .desproj {
    font-size: 18px;
  }
  .desproj-titlebox {
    flex-direction: column;
    justify-content: flex-start;
    width: 90vw;
    margin: 10px;
  }

  .desproj-2col {
    flex-direction: column;
    display: flex;
    padding: inherit;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
  }

  .desproj-2col2 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: inherit;
  }

  .desproj-2col img,
  .desproj-2col2 img {
    width: auto !important;
    max-width: 80vw;
    max-height: 70vh;
    padding: 0px;
  }

  .desproj-gallery img {
    object-fit: cover;
    display: block;
    margin: 10px;
    padding: 10px;
    height: auto;
    max-width: auto;
    width: auto;
    padding-bottom: 10px;
  }

  .desproj-gallery {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .desproj-coverimage {
    margin-top: 5vh;
    width: 100vw;
    height: 40vh;
  }

  .desproj-emph {
    font-size: 21px;
    line-height: 23px;
  }

  .desproj-emph b {
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
  }

  .desproj-tagline {
    font-size: 20px;
    line-height: 23px;
    padding: 5px;
    margin: 5px;
  }
  .desproj-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    align-self: center;
  }

  .desproj-tagline b {
    font-size: 20px;
  }

  h5 {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    margin-top: 20px;
    font-size: 36px;
    line-height: 40px;
  }
  .desproj-details {
    flex-direction: column;
    padding: 0px;
    margin: 5vw;
    width: 80vw;
  }

  .desproj-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
  }

  .desproj-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 60px;
    width: 90vw;
  }

  .desproj-container img {
    align-self: center;
    justify-self: center;
    width: 80vw;
  }

  a.desproj-button {
    width: 60vw;
    justify-self: center;
    align-self: center;
    margin: 10px;
  }
}
