@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://use.typekit.net/txw5htw.css');

.mini-proj img {
  position: relative;
  height: 350px;
  width: 40vw;
  position: absolute;
  display: block;
  object-fit: cover;
  transition: all 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.mini-proj img:hover {
  transform: scale(1.05, 1.05);
}

.mini-proj-left {
  margin-right: 20px;
  position: relative;
  height: 350px;
  width: 40vw;
}

.mini-proj-right {
  margin: 20px;
  font-size: 14px;
  line-height: 16px;
  width: 20vw;
  padding: 20px;
}

.mini-proj-tags {
  display: flex;
  flex-direction: row;
  margin: 5px;
  flex-wrap: wrap;
}
.mini-proj-tag,
.mini-main-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-size: 13px;
  border-radius: 20px;
  padding: 3px 8px 5px 8px;
  text-align: center;
  margin: 5px;
  backdrop-filter: blur(3px);
}

.mini-proj-tag {
  background: #fbfbfb9a;
  border: solid 1px #272727;
}

.mini-main-tag {
  color: white;
}

.mini-proj-tagline {
  font-size: 16px;
  line-height: 20px;
  font-family: 'whyte';
  font-style: normal;
  padding: 10px;
  color: #df9100;
}
.mini-proj {
  height: 350px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 65vw;
  padding: 10px;
}

.mini-proj-header {
  font-size: 28px;
  line-height: 32px;
  padding-bottom: 6px;
  margin-bottom: 6px;
  font-family: 'Lekton', sans-serif;
  font-style: italic;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.mini-proj-header a:after {
  content: '';
  position: absolute;
  width: 95%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(219, 75, 56);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  cursor: pointer;
}

.mini-proj-header a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
}

.mini-proj-header a {
  text-decoration: none;
  cursor: pointer;
}
.mini-proj-client {
  font-size: 16px;
  line-height: 18px;
}

.mini-proj-link {
  color: #111111;
}

@media screen and (max-width: 1024px) /* mobile */ {
  .mini-proj img {
    position: relative;
    width: 90vw;
    height: 25vh;
    transition: all 0.4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .mini-proj img:hover {
    transform: scale(1.05, 1.05);
  }

  .mini-proj-left {
    margin-right: 0px;
    position: relative;
    height: 25vh;
    width: 90vw;
  }

  .mini-proj-right {
    width: 90vw;
  }

  .mini-proj-tags {
    display: flex;
    flex-direction: row;

    margin: 5px;
  }
  .mini-proj-tag,
  .mini-main-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;

    text-align: center;
    margin: 5px;
    backdrop-filter: blur(3px);
  }

  .mini-proj-tag {
    background: #fbfbfb9a;
    border: solid 1px #272727;
  }

  .mini-main-tag {
    color: white;
  }

  .mini-proj {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90vw;
    height: fit-content;
  }

  .mini-proj-header {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 6px;
  }

  .mini-proj-client {
    font-size: 16px;
    line-height: 20px;
  }

  @media screen and (max-width: 320px) /* mobile */ {
    .mini-proj-header {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
