.navbar {
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 90vw;
  position: fixed;
  z-index: 2000 !important;
  padding-right: 1vw;
}

.nav-link,
.active-link {
  font-size: 14.5px;
  font-family: 'whyte';
  text-decoration: none;
  color: #585858;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 4px;
  margin: 10px;
  border-radius: 20px;
  line-height: 16px;
  backdrop-filter: blur(7px);
  background: #fbfbfb9a;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;

  -webkit-transition: all 0.3s linear;

  transition: all 0.3s linear;
}

.nav-link:hover {
  color: black;
}

.active-link {
  font: 14.5px 'WhyteInktrap-Regular', sans-serif, 'Whyte Inktrap';
  color: black;
  line-height: 16px;
  text-decoration-line: underline;
  text-decoration-color: rgb(219, 75, 56);
  text-decoration-style: wavy;
  text-underline-offset: 5px;
  text-decoration-thickness: 1.5px;
}

@media screen and (max-width: 1280px) /* mobile */ {
  .navbar {
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 2000 !important;
    padding: 1vw;
    background: #fbfbfba4;
    backdrop-filter: blur(7px);
  }
  .nav-link,
  .active-link {
    background: transparent;
    backdrop-filter: none;
    padding-right: 10px;
    padding-left: 10px;
  }
}
