@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://use.typekit.net/txw5htw.css');

.proj img {
  position: relative;
  top: 0px;
  display: block;
  object-fit: cover;
  height: 250px;
  width: 20vw;
  transition: all 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin: 20px;
}

.proj img:hover {
  transform: scale(1.05, 1.05);
}

.proj a img {
  cursor: pointer;
}

.proj-left {
  margin: 20px;
  font-size: 14px;
  font-family: 'whyte-light';
  line-height: 20px;
  width: 28vw;
}

.proj-centre {
  padding: 20px;
  margin: 20px;
  font-size: 15px;
  font-family: 'Open Sans';
  line-height: 20px;
  width: 37vw;
}

.proj-right {
  width: 20vw;
}

.proj-tags {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  flex-wrap: wrap;
  overflow: visible;
  margin-top: 10px;
}
.proj-tag,
.main-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-size: 13px;
  border-radius: 20px;
  padding: 2px 8px 4px 8px;
  text-align: center;
  margin: 3px;
  backdrop-filter: blur(3px);
  overflow: visible;
}

.proj-tag {
  background: #fbfbfb9a;
  border: solid 1px #272727;
}

.main-tag {
  color: white;
}

.proj {
  margin: 60px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  width: 80vw;
  border-bottom: #111111 solid 1px;
}

.proj-client {
  font-size: 14px;
  line-height: 16px;
}
.proj-title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
  font-family: 'whyte-med';
}
.proj-header {
  font-size: 28px;
  line-height: 32px;
  padding-bottom: 6px;
  margin-bottom: 6px;
  font-family: 'Lekton', sans-serif;
  font-style: italic;
  display: inline-block;
  position: relative;
  padding: 20 20 20 20;
}

.proj-header a {
  text-decoration: none;
}

.proj-link {
  color: #111111;
  text-decoration: underline 1px;
  text-decoration-skip: 5px;
}

@media screen and (max-width: 580px) /* mobile */ {
  .proj img {
    position: relative;
    max-height: 30vh;
    width: auto;
    transition: all 0.4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .proj img:hover {
    transform: scale(1.05, 1.05);
  }

  .proj-left {
    margin-right: 20px;
    width: 90vw;
  }

  .proj-right {
    max-width: 90vw;
  }

  .proj-tags {
    display: flex;
    flex-direction: row;

    margin: 5px;
  }
  .proj-tag,
  .main-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    font-size: 11px;
    backdrop-filter: blur(3px);
  }

  .proj-tag {
    background: #fbfbfb9a;
    border: solid 1px #272727;
  }

  .main-tag {
    color: white;
  }

  .proj {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90vw;
    height: fit-content;
  }

  .proj-header {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 6px;
    max-width: 90vw;
  }

  .proj-centre {
    width: 90vw;
    display: none;
  }

  .proj-client {
    font-size: 16px;
    line-height: 20px;
  }
}
