.sticky {
  bottom: 4vh;
  left: 2vw;
  z-index: 2;
  position: fixed;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 14px;
}

.socials {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 40px;
  line-height: 16px;
  backdrop-filter: blur(7px);

  background: #fbfbfb9a;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.socials svg {
  height: 20px;
  margin: 10px;
  fill: #444444;
  -moz-transition: fill 0.1s ease-in;
  -o-transition: fill 0.1s ease-in;
  -webkit-transition: fill 0.1s ease-in;
  transition: fill 0.1s ease-in;
}

.socials svg:hover {
  fill: black;
}

.talk-to-me {
  margin: 10px;
  z-index: 3;
  font-size: 14.5px;
  font-family: 'Lekton', sans-serif;
  color: rgb(32, 32, 32);
}

.mail {
  text-decoration: none;
  line-height: 20px;
  font-size: 20px;
  margin: 10px;
  height: 20px;
  text-align: center;
  animation-name: jump-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  display: inline-block;
}

.socials a:-webkit-any-link {
  text-decoration: none;
}

/* Mobile version */
@media screen and (max-width: 1024px) /* mobile */ {
  .sticky {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    bottom: 0vh;
    left: 0vw;
    margin: 0px;
  }
}

@keyframes jump-animation {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(2px);
  } /* The following five values can be played with to make the waving more or less extreme */
  10% {
    transform: translateY(-14px);
  }
  15% {
    transform: translateY(4px);
  }
  20% {
    transform: translateY(-8px);
  }
  25% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0px);
  } /* Reset for the last half to pause */
  100% {
    transform: translateY(0px);
  }
}
