.work-header {
  padding-top: 10vh;
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.work-title {
  max-width: 60vw;
  position: relative;
}

.work-blob {
  top: -720px;
  left: -520px;
  width: 1050px;
  position: absolute;
  z-index: -10;
  stroke-dasharray: 2000;
  stroke-dashoffset: -2000;
  animation: dash1 4s ease-in forwards;
  color: #ffc250;
  color: #41787a;
}
