.work-header {
  padding-top: 10vh;
  max-width: 60vw;
  position: relative;
}

.work-blob {
  top: -720px;
  left: -520px;
  width: 1050px;
  position: absolute;
  z-index: -10;
  stroke-dasharray: 2000;
  stroke-dashoffset: -2000;
  animation: dash1 2s ease-in forwards;
  color: #aeabff;
  color: #41787a;
}
